@{
    ViewData["Title"] = "Home Page";
}
@model List<Category>

<link rel="stylesheet" href="~/css/Giriş.css" media="screen">
<section class="u-align-center u-clearfix u-container-align-left u-image u-shading u-section-1" src="" data-image-width="1280" data-image-height="848" id="sec-fe32">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-left u-custom-font u-font-merriweather u-text u-text-default u-title u-text-1">
            Sayfa İsmi<br>
        </h1>
        <p class="u-align-left u-large-text u-text u-text-default u-text-variant u-text-2">Hakkında kısmı özeti</p>
        <a href="Hakkında.html" class="u-align-left u-border-2 u-border-palette-2-light-1 u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-none u-radius-30 u-btn-1">
            hakkında<br>
        </a>
    </div>
</section>
@{

    List<string> bg_image = new List<string>();
    List<string> image = new List<string>();
    int count = 0;
    for (int i = 0; i < 3; i++)
    {
        bg_image.Add("");
        image.Add(""); 

    }
 }
 @if (Model is not null){
    @foreach (var categories in Model)
    {
        bg_image[count] = categories.BackGroundImage;
        image[count++] = categories.Image;
    }

 }

<style>
    .bir_bg{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("@bg_image[0]");
        
    }
    .iki_bg{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("@bg_image[1]");
    
    }
    .uc_bg{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("@bg_image[2]");
    
    }

    .bir{
        background-image: url("@image[0]");
    
    }

    .iki{
        background-image: url("@image[1]");
    
    }

    .uc {
        background-image: url("@image[2]");
    }

</style>
@{
    bool kosul = true;
    int categoriesCount = ViewBag.CategoriesCount;
}
@if (categoriesCount > 0)
{
    string a = "bir_bg";
    string b = "bir";
    @foreach (var category in Model)
    {
       
        @if (kosul)
        {
            @* sol *@
            <section class="u-clearfix u-image u-shading u-section-2 @a" id="sec-2998" data-image-width="1280" data-image-height="853">
                <div class="u-clearfix u-sheet u-sheet-1">
                    <div class="data-layout-selected u-clearfix u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
                        <div class="u-gutter-0 u-layout">
                            <div class="u-layout-row">
                                <div class="u-align-left u-container-align-left-xs u-container-style u-image u-image-round u-layout-cell u-radius-50 u-shading u-size-30 @b" data-image-width="853" data-image-height="1280">
                                    <div class="u-container-layout u-valign-middle-xs u-container-layout-1" src="">
                                        <div class="u-clearfix u-expanded-width u-group-elements u-hidden-lg u-hidden-md u-hidden-xl u-group-elements-1">
                                            <h3 class="u-custom-font u-font-merriweather u-text u-text-default u-text-1 text-start" data-animation-name="customAnimationIn" data-animation-duration="1500">
                                                @category.Name
                                            </h3>
                                            <a asp-controller="Products" asp-action="Index" asp-route-id=@category.Id class="u-align-left u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-btn-1">Görüntüle</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-align-left u-container-style u-hidden-xs u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-2">
                                    <div class="u-container-layout u-valign-top u-container-layout-2">
                                        <div class="u-clearfix u-expanded-width u-group-elements u-group-elements-2">
                                            <div class="u-align-center u-clearfix u-expanded-width u-group-elements u-hidden-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-group-elements-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0" data-animation-out="0">
                                                <h3 class="u-custom-font u-font-merriweather u-text u-text-default u-text-palette-1-light-3 u-text-2">
                                                    @category.Name
                                                </h3>
                                                <a asp-controller="Products" asp-action="Index" asp-route-id=@category.Id class="u-align-left u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-btn-2">Görüntüle</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        else
        {
            @* sağ *@
            <section class="u-clearfix u-image u-shading u-section-3 iki_bg" id="sec-d640" data-image-width="1280" data-image-height="853">
                <div class="u-clearfix u-sheet u-sheet-1">
                    <div class="data-layout-selected u-clearfix u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
                        <div class="u-layout" style="">
                            <div class="u-layout-row" style="">
                                <div class="u-align-center u-container-style u-hidden-xs u-layout-cell u-left-cell u-shape-rectangle u-size-30 u-size-xs-60 u-layout-cell-1" src="">
                                    <div class="u-container-layout u-container-layout-1">
                                        <div class="u-align-center u-clearfix u-container-align-right u-expanded-width u-group-elements u-hidden-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-group-elements-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-out="0">
                                            <h3 class="u-align-right u-custom-font u-font-merriweather ">
                                                @category.Name
                                                </h3>
                                            <a asp-controller="Products" asp-action="Index" asp-route-id=@category.Id class="u-align-right u-border-2 u-border-hover-palette-2-light-1 u-border-palette-2-light-1 u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-none u-radius-50 u-text-hover-white u-text-palette-2-light-1 u-btn-1">Görüntüle</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-align-center u-container-align-right-xs u-container-style u-image u-image-round u-layout-cell u-radius-50 u-right-cell u-size-30 u-size-xs-60 iki" src="" data-image-width="1280" data-image-height="853">
                                    <div class="u-container-layout u-valign-middle u-container-layout-2" src="">
                                        <div class="custom-expanded u-align-center u-clearfix u-container-align-right u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xl u-group-elements u-hidden-lg u-hidden-md u-hidden-xl u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-group-elements-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-out="0">
                                            <h3 class="u-align-right u-custom-font u-font-merriweather u-text u-text-body-alt-color u-text-default u-text-2">
                                                @category.Name
                                                </h3>
                                            <a asp-controller="Products" asp-action="Index" asp-route-id=@category.Id class="u-align-right u-border-2 u-border-hover-palette-2-light-1 u-border-palette-2-light-1 u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-palette-2-light-1 u-radius-50 u-text-body-alt-color u-text-hover-white u-btn-2">Görüntüle</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
        kosul = !kosul;
        a = "uc_bg";
        b = "uc";
    }
}





<style>
    .bg{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("/siteImages/bg_dahafazla.jpg");
    }
    .foto{
        background-image: url("/siteImages/dahafazla.jpg");
    }
</style>

@if (ViewBag.CategoriesCount % 2 == 1)
{
    // Kategoriler sağ
    <section class="u-clearfix u-image u-shading u-section-5 bg" id="sec-12f2" data-image-width="1280" data-image-height="853">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="data-layout-selected u-clearfix u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-layout" style="">
                    <div class="u-layout-row" style="">
                        <div class="u-align-center u-container-style u-hidden-xs u-layout-cell u-left-cell u-shape-rectangle u-size-30 u-size-xs-60 u-layout-cell-1" src="">
                            <div class="u-container-layout u-container-layout-1">
                                <div class="u-align-center u-clearfix u-expanded-width u-group-elements u-hidden-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-group-elements-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-out="0">
                                    <h3 class="u-align-right u-custom-font u-font-merriweather u-text u-text-default u-text-1">Ve Daha Fazlası...</h3>
                                    <a asp-controller="Category" asp-action="Index" class="u-align-right u-border-2 u-border-hover-palette-2-light-1 u-border-palette-2-light-1 u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-none u-radius-50 u-text-hover-white u-text-palette-2-light-1 u-btn-1">Görüntüle</a>
                                </div>
                            </div>
                        </div>
                        <div class="u-align-center u-container-style u-image u-image-round u-layout-cell u-radius-50 u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1280" data-image-height="854">
                            <div class="u-container-layout u-valign-middle u-container-layout-2" src="">
                                <div class="u-align-center u-clearfix u-container-align-right u-expanded-width u-group-elements u-hidden-lg u-hidden-md u-hidden-xl u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-group-elements-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-out="0">
                                    <h3 class="u-align-right u-custom-font u-font-merriweather u-text u-text-body-alt-color u-text-default u-text-2">Ve Daha Fazlası...</h3>
                                    <a asp-action="Index" asp-controller="Category" class="u-align-right u-border-2 u-border-hover-palette-2-light-1 u-border-palette-2-light-1 u-btn u-btn-round u-button-style u-hover-palette-2-light-1 u-palette-2-light-1 u-radius-50 u-text-hover-white u-text-white u-btn-2">Görüntüle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    // Kategoriler sol
    <section class="u-clearfix u-image u-shading u-section-2 bg" id="sec-2998" data-image-width="1280" data-image-height="853">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="data-layout-selected u-clearfix u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div class="u-align-left u-container-align-left-xs u-container-style u-image u-image-round u-layout-cell u-radius-50 u-shading u-size-30 foto" data-image-width="853" data-image-height="1280">
                            <div class="u-container-layout u-valign-middle-xs u-container-layout-1" src="">
                                <div class="u-clearfix u-expanded-width u-group-elements u-hidden-lg u-hidden-md u-hidden-xl u-group-elements-1">
                                    <h3 class="u-custom-font u-font-merriweather u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
                                        Ve Daha Fazlası...<br>
                                    </h3>
                                    <a asp-action="Index" asp-controller="Category" class="u-align-left u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-btn-1">Görüntüle</a>
                                </div>
                            </div>
                        </div>
                        <div class="u-align-left u-container-style u-hidden-xs u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-2">
                            <div class="u-container-layout u-valign-top u-container-layout-2">
                                <div class="u-clearfix u-expanded-width u-group-elements u-group-elements-2">
                                    <div class="u-align-center u-clearfix u-expanded-width u-group-elements u-hidden-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-group-elements-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0" data-animation-out="0">
                                        <h3 class="u-custom-font u-font-merriweather u-text u-text-default u-text-palette-1-light-3 u-text-2">
                                            Ve Daha Fazlası...<br>
                                        </h3>
                                        <a asp-action="Index" asp-controller="Category" class="u-align-left u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-btn-2">Görüntüle</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


